In [1]:
import pandas as pd
dt = pd.read_csv('./data.csv')

In [2]:
dt

            Date     Mkt      CPI      RF
0     1928-01-01 -0.0043   17.300  0.0025
1     1928-02-01 -0.0137   17.100  0.0033
2     1928-03-01  0.0910   17.100  0.0029
3     1928-04-01  0.0445   17.100  0.0022
4     1928-05-01  0.0184   17.200  0.0032
...          ...     ...      ...     ...
1087  2018-08-01  0.0360  252.146  0.0016
1088  2018-09-01  0.0021  252.439  0.0015
1089  2018-10-01 -0.0749  252.885  0.0019
1090  2018-11-01  0.0187  252.038  0.0018
1091  2018-12-01 -0.0937  251.233  0.0020

[1092 rows x 4 columns]

In [3]:
dt['Return'] = dt['Mkt']

In [4]:
cc = (1+dt['Mkt']).cumprod()

In [5]:
cc = cc / cc.iloc[0]

In [6]:
dt['SnP'] = cc

In [7]:
dt.to_csv('./snp2.csv')

In [8]:
dt.describe()

               Mkt          CPI           RF
count  1092.000000  1092.000000  1092.000000
mean      0.009046    88.739535     0.002744
std       0.053501    77.645780     0.002553
min      -0.291000    12.600000    -0.000600
25%      -0.017800    24.575000     0.000300
50%       0.012500    44.250000     0.002300
75%       0.039200   155.850000     0.004300
max       0.389500   252.885000     0.013500

In [9]:
from scipy.stats import kurtosis, skew

In [10]:
print(skew(dt['Mkt']))
print(kurtosis(dt['Mkt']))

0.1651731233768857
7.788034208752009

In [11]:
print(skew(dt['RF']))
print(kurtosis(dt['RF']))

1.0834312449978591
1.2535730431519907

In [12]:
print(skew(dt['CPI']))
print(kurtosis(dt['CPI']))

0.7125557652584549
-0.987019460944131