In [2]:
import pandas as pd
import numpy as np

In [3]:
dt = pd.read_csv('./data.csv')
dt = dt.set_index('Date')

In [4]:
dt

                 Mkt        RF         CPI
Date
1980-01-01  0.000000  0.017500   19.362599
1980-02-01 -0.020513  0.017500   20.202078
1980-03-01  0.012073  0.017500   20.953681
1980-04-01  0.100405  0.017500   21.108129
1980-05-01 -0.003452  0.017500   21.771191
...              ...       ...         ...
2022-08-01  0.008348  0.001042  114.504481
2022-09-01 -0.137030  0.001042  114.831275
2022-10-01  0.062109  0.001250  115.126444
2022-11-01  0.075115  0.001458  115.010485
2022-12-01 -0.100374  0.001458  115.200236

[516 rows x 3 columns]

In [5]:
dt.mean()

Mkt     0.005921
RF      0.003339
CPI    68.261022
dtype: float64

In [6]:
dt.std() * np.sqrt(12)

Mkt     0.250336
RF      0.010900
CPI    96.350761
dtype: float64

In [7]:
dt.skew()

Mkt    0.175937
RF     2.204181
CPI   -0.073430
dtype: float64

In [8]:
dt.kurtosis()

Mkt    2.768869
RF     6.409616
CPI   -1.358274
dtype: float64

In [19]:
dt.describe()*12

               Mkt           RF          CPI
count  6192.000000  6192.000000  6192.000000
mean      0.071055     0.040065   819.132260
std       0.867189     0.037758   333.768828
min      -3.817250     0.002500   232.351193
25%      -0.379024     0.012500   496.190651
50%       0.040943     0.030000   832.819277
75%       0.498173     0.050000  1158.651043
max       4.734443     0.210000  1382.402834

In [27]:
dt['RF'][dt['RF']  < dt['RF'].quantile(0.333)].mean() * 12

0.008520710059171079

In [24]:
dt['RF'][dt['RF']  < dt['RF'].quantile(0.666)][dt['RF']  > dt['RF'].quantile(0.333)].mean() * 12

0.027824074074073786

In [25]:
dt['RF'][dt['RF']  < dt['RF'].quantile(1.0)][dt['RF']  > dt['RF'].quantile(0.666)].mean() * 12

0.0881388349514558

In [21]:
import numpy as np
import pandas as pd
from scipy.stats import skew, kurtosis

# Assuming 'dt' is your DataFrame
# First, we calculate the basic statistics using the `describe()` function
desc = dt.describe().T

# Next, we compute skewness and kurtosis for each column and add them to our statistics DataFrame
desc['skewness'] = dt.apply(lambda x: skew(x.dropna()))
desc['kurtosis'] = dt.apply(lambda x: kurtosis(x.dropna()))

# Then, we select the statistics we are interested in
stats = desc[['count', 'mean', '50%', 'min', 'max', 'std', 'skewness', 'kurtosis']].copy()

# We rename the columns to match the names given in the question
stats.columns = ['N', 'Mean', 'Median', 'Min', 'Max', 'Stdev.', 'Skewness', 'Kurtosis']

# Convert monthly returns to annualized returns
for col in ['Mkt', 'RF']:
    stats.loc[col, 'Mean'] = stats.loc[col, 'Mean'] * 12
    stats.loc[col, 'Median'] = dt[col].median() * 12
    stats.loc[col, 'Min'] = dt[col].min() * 12
    stats.loc[col, 'Max'] = dt[col].max() * 12
    stats.loc[col, 'Stdev.'] = stats.loc[col, 'Stdev.'] * np.sqrt(12)

# Round all values in the DataFrame to 3 decimal points
stats = stats.round(3)

# Finally, we convert our DataFrame to LaTeX code and print it
latex_code = stats.to_latex()
print(latex_code)

\begin{tabular}{lrrrrrrrr}
\toprule
{} &      N &    Mean &  Median &     Min &      Max &  Stdev. &  Skewness &  Kurtosis \\
\midrule
Mkt &  516.0 &   0.071 &   0.041 &  -3.817 &    4.734 &   0.250 &     0.175 &     2.731 \\
RF  &  516.0 &   0.040 &   0.030 &   0.002 &    0.210 &   0.011 &     2.198 &     6.336 \\
CPI &  516.0 &  68.261 &  69.402 &  19.363 &  115.200 &  27.814 &    -0.073 &    -1.357 \\
\bottomrule
\end{tabular}

<ipython-input-21-7dc34afa6105>:31: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex_code = stats.to_latex()