In [1]:
import pandas as pd
import math
import numpy as np

In [2]:
VIX_all  = pd.read_csv('./data/VIX_History.csv')

In [3]:
VIX_all

            DATE   OPEN   HIGH    LOW  CLOSE
0     01/02/1990  17.24  17.24  17.24  17.24
1     01/03/1990  18.19  18.19  18.19  18.19
2     01/04/1990  19.22  19.22  19.22  19.22
3     01/05/1990  20.11  20.11  20.11  20.11
4     01/08/1990  20.26  20.26  20.26  20.26
...          ...    ...    ...    ...    ...
8514  10/09/2023  19.54  19.60  17.56  17.70
8515  10/10/2023  17.70  17.86  16.51  17.03
8516  10/11/2023  16.95  17.78  16.09  16.09
8517  10/12/2023  16.08  18.08  15.44  16.69
8518  10/13/2023  16.53  20.78  16.50  19.32

[8519 rows x 5 columns]

In [4]:
VIX_all['DATE'] = pd.to_datetime(VIX_all['DATE'])

In [5]:
VIX_all['DATE']

0      1990-01-02
1      1990-01-03
2      1990-01-04
3      1990-01-05
4      1990-01-08
          ...
8514   2023-10-09
8515   2023-10-10
8516   2023-10-11
8517   2023-10-12
8518   2023-10-13
Name: DATE, Length: 8519, dtype: datetime64[ns]

In [6]:
VIX = VIX_all[(VIX_all['DATE']> '2017-05-08') & (VIX_all['DATE'] < '2023-10-01')]

In [7]:
VIX = VIX.reset_index(drop=True)

In [8]:
VIX = VIX.drop(['OPEN', 'HIGH', 'LOW'], axis = 'columns')

In [9]:
VIX.columns = ['Date', 'Index']

In [10]:
VIX.to_csv('./data/VIX.csv', index=False)

In [11]:
VIX = pd.read_csv('./data/VIX.csv')

In [12]:
VIX

            Date  Index
0     2017-05-09   9.96
1     2017-05-10  10.21
2     2017-05-11  10.60
3     2017-05-12  10.40
4     2017-05-15  10.42
...          ...    ...
1616  2023-09-25  16.90
1617  2023-09-26  18.94
1618  2023-09-27  18.22
1619  2023-09-28  17.34
1620  2023-09-29  17.52

[1621 rows x 2 columns]

In [13]:
diff = []

for i in range(len(VIX['Index'])-1):
    diff.append(VIX['Index'][i+1]-VIX['Index'][i])

In [14]:
log_diff = []

for i in range(len(VIX['Index'])-1):
    r = VIX['Index'][i+1]/VIX['Index'][i]
    log_return = math.log(r)
    log_diff.append(log_return)

In [15]:
VIX_diff = VIX[VIX.index > 0]

In [16]:
VIX_diff = VIX_diff.reset_index(drop=True)

In [17]:
VIX_diff = VIX_diff.drop(['Index'], axis = 'columns')

In [18]:
VIX_diff['diff'] = diff

In [19]:
VIX_diff['log_diff'] = log_diff

In [20]:
VIX_diff.to_csv('./data/VIX_diff.csv', index = False)

In [21]:
VIX_diff = pd.read_csv('./data/VIX_diff.csv')

In [22]:
VIX_diff

            Date  diff  log_diff
0     2017-05-10  0.25  0.024791
1     2017-05-11  0.39  0.037486
2     2017-05-12 -0.20 -0.019048
3     2017-05-15  0.02  0.001921
4     2017-05-16  0.23  0.021833
...          ...   ...       ...
1615  2023-09-25 -0.30 -0.017596
1616  2023-09-26  2.04  0.113962
1617  2023-09-27 -0.72 -0.038756
1618  2023-09-28 -0.88 -0.049504
1619  2023-09-29  0.18  0.010327

[1620 rows x 3 columns]

In [23]:
VIX_diff['diff'].describe()

count    1620.000000
mean        0.004667
std         2.081745
min       -17.640000
25%        -0.842500
50%        -0.130000
75%         0.582500
max        24.860000
Name: diff, dtype: float64

In [24]:
VIX_diff['log_diff'].describe()

count    1620.000000
mean        0.000349
std         0.080661
min        -0.266228
25%        -0.044841
50%        -0.007827
75%         0.034447
max         0.768245
Name: log_diff, dtype: float64